.header {
    @apply w-screen;

}

.header_flex {
    @apply h-full flex flex-row bg-secondary;
}

header .header_right {
    /* background: linear-gradient(90deg,
    hsla(112, 83%, 32%, 0.545),
    hsla(112, 83%, 26%, 0.572)); */


    @apply flex-1 p-4 shrink;
}

header .header_left {
    @apply bg-primary rounded-r-full h-full flex flex-col justify-evenly p-4 basis-6/12;
}

header .header_right .login {
    @apply h-full items-center flex justify-center gap-4;
}

.username {
    @apply text-2xl text-white;
}

.profil_icon {
    color: red;
    /* background: url("/public/account_circle.svg"); */
    /* background:url(/account_circle.svg) cover;
  -webkit-mask: url(/account_circle.svg) no-repeat center;
  mask: url(/account_circle.svg) no-repeat center;
  width: 20px;
  height: 20px; */
}

.primary_input {
    position: relative;
    cursor: text;
    font-size: 14px;
    line-height: 20px;
    padding: 0 16px;
    height: 38px;
    width: 170px;
    background-color: #fff;
    border: 1px solid #d6d6e7;
    border-radius: 3px;
    color: rgb(35, 38, 59);
    box-shadow: inset 0 1px 4px 0 rgb(119 122 175 / 30%);
    overflow: hidden;
    transition: all 100ms ease-in-out;
}

.text_wonder {
    color: #fff;
    font-size: small;
    margin-left: 3em;
}

.primary_input:focus {
    border-color: #3c4fe0;
    box-shadow: 0 1px 0 0 rgb(35 38 59 / 5%);
}

.primary_button:disabled,
.primary_button:disabled:hover {
    cursor: default;
    background-image: linear-gradient(180deg,
            hsl(112, 39%, 49%),
            hsl(112, 30%, 45%));
    box-shadow: 0 8px 22px 0 rgb(37 44 97 / 15%),
        0 4px 6px 0 rgb(93 100 148 / 20%);
}

.primary_button {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    font-weight: 600;
    color: #fff;
    font-size: 20px;
    height: 38px;

    padding: 4px 20px;
    border-radius: 50px;
    background-image: linear-gradient(180deg,
            hsl(112, 100%, 40%),
            hsl(112, 100%, 35%));
    box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%),
        0 1px 3px 0 rgb(93 100 148 / 20%);
    transition: all 0.2s ease-out;
}

.primary_button:hover {
    cursor: pointer;
    background-image: linear-gradient(180deg,
            hsl(112, 90%, 40%),
            hsl(112, 90%, 35%));
    box-shadow: 0 8px 22px 0 rgb(37 44 97 / 15%),
        0 4px 6px 0 rgb(93 100 148 / 20%);
}

@media (max-width: 800px) {
    .header .header_right .login {
        @apply flex flex-col gap-5;
    }

    .header .header_left {
        /* @apply basis-5/12; */
    }



    .header .header_right .login input {
        @apply shrink;
    }

    .text_wonder {
        margin-left: 0;
    }
}